*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url(https://cdn.wallpapersafari.com/61/2/j2iZGS.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: helvetica;
}

nav{
    background-color: rgba(119, 136, 153, 0.212);
    width: 100%;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100px;
}

.lista a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
}

.menu .lista{
    display: inline-block;
}

.lista-r{
    float: right;
}

.lista a:hover{
    background-color: tomato;
}

main {
text-align: center;
}

img{
    margin-top: 10px;
    border-radius: 50px;
    height: 150px;
    width: 150px;
    border: 10px solid white;
}